@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

* {
    box-sizing: border-box;
    transition: all 0.5s;
    font-family: 'Gowun Dodum', sans-serif, "Helvetica Neue",Helvetica,Arial;
}

body {
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgb(240, 236, 236);
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    margin: 10px;
}

p {
    margin: 10px;
}

button {
    padding: 10px;
    background-color: rgb(24, 100, 87);
    color: white;
    border-radius: 4px;
}

button:hover {
    padding: 10px;
    background-color: rgb(40, 158, 138);
    color: white;
}

.deleteBtn {
    background-color: red;
    margin: 0px 5px;
}

.deleteBtn:hover {
    background-color: rgb(139, 16, 16);
}