.subscriber {
    margin: 10px 100px;
    display:grid;
    grid-template-columns: 10% 40% 25% 25%;
    align-items:center;
    justify-content:center
}

.actionsSub {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-start;
}

.actionsSub button {
    margin: 0 5px;
}